$mainColor: #EFFDF5;
$firstColor: #25BC88;
$secondColor: #26BC89;
$thirdColor: #00B074;
$fortyColor: #2FBF8E;
$buutonColor:#11B57D;
$whiteColor: #fff;
$whiteColor2: #F8F9FA;
$rgbaColor: rgba(0, 0, 0, .08);
$blackColor: #000000;
$headerRgba: rgba(43, 57, 64, .5), rgba(43, 57, 64, .5);
$footerColor: #2B3940;
$boxShado: rgba(0, 0, 0, .08);